<div>
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                <jqcloud words="words" height="300" auto-resize="true" delay="50" steps="7"></jqcloud>
            </div>
        </div>
    </div>
</div>

<!--<div class="container" style="padding-left: 0px;">
    <div class="col-lg-6" style="padding-left: 0px;padding-right: 15px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Topics in past 30 days</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>#1 - aaaaaaaaaaaaaaa</li>
                    <li>#2 - bbbbbbbbbbbbbbb</li>
                    <li>#3 - ccccccccccccccc</li>
                    <li>#4 - ddddddddddddddd</li>
                    <li>$5 - ddddddddddddddd</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="padding-left: 0px;padding-right: 15px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Threads in last 7 days</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>#1 - UWP</li>
                    <li>#2 - XMAL</li>
                    <li>#3 - x:bind</li>
                    <li>#4 - Visual Studio Update 1</li>
                    <li>$5 - Hello World</li>
                </ul>
            </div>
        </div>
    </div>
</div>-->