<div>
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="container" style="padding-left: 0px;">
                <div class="col-lg-6" style="padding-left: 0px;padding-right: 15px;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Category Coverage</h3>
                        </div>
                        <div class="panel-body">
                            <b>Today - </b><span ng-class="{'warning-data': categoryCoverage.daily<0.6 }">{{categoryCoverage.daily * 100| number: 2 }}%</span>   <b>This Week - </b><span ng-class="{'warning-data': categoryCoverage.weekly<0.6 }">{{categoryCoverage.weekly * 100| number: 2 }}%</span>   <b>This Month - </b><span ng-class="{'warning-data': categoryCoverage.monthly<0.6 }">{{categoryCoverage.monthly * 100| number : 2 }}%</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-left: 0px;padding-right: 15px;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tag Coverage</h3>
                        </div>
                        <div class="panel-body">
                            <b>Today - </b><span ng-class="{'warning-data': tagCoverage.daily<0.6 }">{{tagCoverage.daily * 100| number: 2 }}%</span>   <b>This Week - </b><span ng-class="{'warning-data': tagCoverage.weekly<0.6 }">{{tagCoverage.weekly * 100| number: 2 }}%</span>   <b>This Month - </b><span ng-class="{'warning-data': tagCoverage.monthly<0.6 }">{{tagCoverage.monthly * 100| number : 2 }}%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <jqcloud words="words" height="300" auto-resize="true" delay="50" steps="7"></jqcloud>
            </div>

            <div>
                <div ng-repeat="category in categories">
                    <h2>{{category.categoryName}}</h2>
                    <div>
                        <div ng-repeat="element in category.subElements">
                            <span>+</span>
                            <span>{{element.typeName}}</span>
                            <span><b>answered</b> {{element.answered}} in total {{element.total}}, answer rate: <i style="color:red">{{element.answered * 100 / element.total | number:0 }}%</i></span>
                            <div>
                                <span ng-repeat="tag in element.tags" class="post-tag">{{tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>