<div class="container" style="padding-left: 0px;">
    <div class="col-lg-6" 
         style="padding-left: 0px;padding-right: 15px;cursor:pointer;"
         ng-repeat="repository in repositories"
         ng-click="navigateTo(repository.id)"
         >
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{repository.name}}</h3>
            </div>
            <div class="panel-body">
                <p>{{repository.description}}</p>
            </div>
        </div>
    </div>
</div>
