<div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('UWP');">
        <h1>Universal Windows Platform</h1>
        <p>Windows 10 introduces the Universal Windows Platform (UWP), which further evolves the Windows Runtime model and brings it into the Windows 10 unified core. As part of the core, the UWP now provides a common app platform available on every device that runs Windows 10.</p>
    </div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('SOUWP');">
        <h1>UWP On Stackoverflow</h1>
        <p>The Universal Windows Platform is a common platform for all devices running Windows 10. The UWP is separated into device families like PC, Mobile, IoT and many more. The UWP allows you to use common code for all device families.</p>
    </div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('SOTFS');">
        <h1>Team Foundation Server</h1>
        <p>Team Foundation Server is a complete Application Lifecycle Management (ALM) suite, offered by Microsoft.</p>
    </div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('SOVSO');">
        <h1>Visual Studio Team Services</h1>
        <p>Visual Studio Team Services is a hosted Application Lifecycle Management solution from Microsoft which includes source control repositories (Git & TFVC), work item tracking, test case management, hosted automated builds, and more. It is based on Team Foundation Server but there are some differences with new cloud-only services. New features are delivered to the hosted version first and then come later to the Team Foundation Server product.</p>
    </div>
    <div class="jumbotron" style="cursor:pointer" ng-click="navigateTo('OFFICE');">
        <h1>Microsoft Office</h1>
        <p>From home to business, from desktop to web and the devices in between, Office delivers the tools to get work done.</p>
    </div>
</div>